import %workspace%/jax/.bazelrc

build --repo_env=HERMETIC_PYTHON_VERSION=3.12
build --verbose_failures=true
build --action_env=CLANG_COMPILER_PATH="/usr/lib/llvm-18/bin/clang"
build --repo_env=CC="/usr/lib/llvm-18/bin/clang"
build --repo_env=CXX="/usr/lib/llvm-18/bin/clang++"
build --repo_env=BAZEL_COMPILER="/usr/lib/llvm-18/bin/clang"
build --config=clang
build --define=xnn_enable_avxvnniint8=false
build --config=mkl_open_source_only
build --config=avx_posix
build --config=cuda
build --config=cuda_libraries_from_stubs
build --action_env=CLANG_CUDA_COMPILER_PATH="/usr/lib/llvm-18/bin/clang"
build --config=build_cuda_with_nvcc

build --disk_cache=~/bazel/disk_cache
build --repository_cache=~/bazel/repository_cache
# build --jobs=HOST_CPUS*2
